<% @places.each do |place| %> 
<div class="booyah-box col-10 offset-1"> 
  <h1 class="header-booyah col-xl-4 col-10 offset-1"><%= link_to place.name, place_path(place) %></h1>
  <small class="posted-by-index">posted by:<%= place.user.email %></small>
  <div class="information">
    <hr /> 
    <br /> 
    <h1 class="header-information col-xl-4 col-5 float-left">address</h1>
    <i><%= place.address %></i>
    <hr />  
    <br /> 
    <h1 class="header-information col-xl-4 col-5">Known for:</h1> 
    <p><%= place.description %></p> 
    <% if place.user.present? %> 
    <hr /> 
    <% @places.each do |place| %>
    <% if place.comments.present? %> 
    <div class="col-12">
      <% if place.user.present? %>
      <% end %>
      <br /> 
      <h1 class="header-information col-5 float-right">comments</h1>
      <blockquote> 
        <% if place.comments.last.humanized_rating.present? %>
        <b><%= place.comments.last.humanized_rating %></b> -
        <% end %>
        <%= place.comments.last.message %>
      </blockquote>
      <% end %> 
    </div>
  </div>
  <% end %> 
  <% end %>
</div>  
</div> 

<%end%> 

<div class="page col-12" align="center"> 
  <%= will_paginate @places %> 
</div> 