<% @places.each do |place| %> 
<div class="booyah-box col-10 offset-1"> 
  <h1 class="header-booyah col-xl-4 col-10 offset-1"><%= link_to place.name, place_path(place) %></h1>
  <small class="posted-by-index">posted by:<%= place.user.email %></small>
  <div class="information">
    <hr /> 
    <br /> 
    <h1 class="header-information col-xl-4 col-5 float-left">address</h1>
    <i><%= place.address %></i>
    <hr />  
    <br /> 
    <h1 class="header-information col-xl-4 col-5">Known for:</h1> 
    <p><%= place.description %></p> 
    <% if place.user.present? %> 
    <hr /> 
    <% if place.comments.present? %> 
      <br /> 
      <h1 class="header-information col-5 float-right">comments</h1>
      <% place.comments.each do |comment| %> 
        <blockquote> 
          <div>  
            <% if comment.humanized_rating.present? %>
              <b><%= comment.humanized_rating %></b> -
            <% end %>
            <%= comment.message %>
          </div> 
        </blockquote>
      <% end %>
    <% end %> 
  </div>
  <% end %> 
</div>  
</div> 

<%end%> 

<div class="page col-12" align="center"> 
  <%= will_paginate @places %> 
</div> 